#e-lecture {
    top: 45px;
    right: 130px;
    width: 400px;
    display: block;
    background: none;
    /*overflow: normal;*/
    white-space: normal;
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.electure-prev,
.electure-next {
    /* force update, copied from viz.css */
    position: absolute;
    /* bottom: -12px; */
    top: -20px;
    /*bottom: '';*/
    padding: 3px 8px;
    background: #999;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.electure-prev {
    left: -10px;
    /* right: 30px; */
}

.electure-next {
    right: -10px;
    color: white;
}

svg {
    border: 2px solid;
    background-color: #eeeeee;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 4.3px;
    cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-dasharray: 10, 2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
    stroke: #333;
    stroke-width: 2px;
    cursor: pointer;
}

text {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
}

text.weight {
    cursor: pointer;
    font-weight: bold;
    text-anchor: middle;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}

.tableTitle {
    width: 100%;
    background-color: #009900;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.graphTable {
    border-collapse: collapse;
    border-spacing: 0;
}

.graphTable td {
    border-width: 0px 1px 1px 0px;
    border: 1px solid #000000;
    text-align: center;
    padding: 0;
}

.graphTable tr:hover {
    background-color: #ffffff;
}

#VandE,
#IsTree,
#IsComplete,
#IsBipartite,
#IsDAG {
    font-family: Arial;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.red {
    background-color: red;
    opacity: 0.3;
}
